<template>
  <div class="hello">
    <h1>首页</h1>
    <ul>
      <li><router-link :to="{ name: 'HelloWorld'}">首页</router-link></li>
      <li><router-link :to="{ name: 'Test1'}">Test1</router-link></li>
      <li><router-link :to="{ name: 'Test2'}">Test2</router-link></li>
      <li><router-link :to="{ name: 'Test3'}">Test3</router-link></li>
      <li><router-link :to="{ name: 'Test4'}">Test4</router-link></li>
      <li><router-link :to="{ name: 'Test5'}">Test5</router-link></li>
      <li><router-link :to="{ name: 'Test6'}">Test6</router-link></li>
      <li><router-link :to="{ name: 'Test7'}">Test7</router-link></li>
      <li><router-link :to="{ name: 'Test8'}">Test8</router-link></li>
      <li><router-link :to="{ name: 'Test9'}">Test9</router-link></li>
      <li><router-link :to="{ name: 'Test10'}">Test10</router-link></li>
      <li><router-link :to="{ name: 'Test11'}">Test11</router-link></li>
      <li><router-link :to="{ name: 'Test12'}">Test12</router-link></li>
    </ul>

    <keep-alive>
      <router-view/>
    </keep-alive>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      seconds: 10
    }
  },
  mounted(){
    console.log('获取首页数据')
    this.getAjax();
  },
  methods: {
    getAjax(){
      var _this = this;

      for(var i = 0; i < 2; i++){
        this.http.get('http://www.testjs.wl/ajax/test' + i + '.php?seconds=' + _this.seconds + '&status=' + i)
        .then(function (response) {
          console.log('ok==',_this.getDate())
        })
        .catch(function (error) {
          console.log(error)
        })
      }
    }
  }
}
</script>
