<template>
  <div class="hello">
    <h1>Test1 - {{seconds}}s</h1>
    <input type="text" placeholder="请输入测试内容">
    <p>{{msg}}</p>
  </div>
</template>

<script>
export default {
  name: 'Test1',
  data () {
    return {
      msg: '默认',
      seconds: 2
    }
  },
  mounted () {
    console.log('ok1=',this.getDate())
    this.getData()
  },
  methods: {
    getData () {
      var _this = this;

      this.http.get('http://www.testjs.wl/ajax/test.php?seconds=' + _this.seconds + '&status=1')
      .then(function (response) {
        _this.msg = 'ok'
        console.log('ok1==',_this.getDate())
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>
